/*
Black: #1C2126
Blue: #1A4666
Hi-Blue: #1A6AB8
Purp: #590c72
window[privatebrowsingmode="temporary"]
*/

/* os control */
toolbarbutton.titlebar-button { 
  background: #1C2126;
}

toolbarbutton.titlebar-button:hover { 
  background: #1A4666;
}
window[privatebrowsingmode="temporary"] toolbarbutton.titlebar-button:hover{
  background: #590c72;
}

toolbarbutton#titlebar-close:hover {
  background: #FF0000;
}

/*Aios tabs*/
toolbarbutton.toolbarbutton-1.aios-tbutton:not(#downloads-button) {
  list-style-image: url("chrome://aios/skin/icons/toolbar_windows_inverted.png");
}

toolbar#aios-toolbar toolbarbutton{
  border: none;
}

/* tab bar */
deck iframe#tab-view {
  background: none;
}

tab.tabbrowser-tab {
  box-shadow: none !important;
}

tab .tab-content[selected="true"] {
  background-color: #1A4666;
}

window[privatebrowsingmode="temporary"] tab .tab-content[selected="true"]{
  background-color: #590c72;
}

/* main bar */
#nav-bar hbox#nav-bar-customization-target { 
  background-color: #1A4666;
}

window[privatebrowsingmode="temporary"] #nav-bar hbox#nav-bar-customization-target{
  background: #590c72;
}

/* main bar - address */
toolbox#navigator-toolbox::after, textbox#urlbar {
  background: #1C2126 !important;
}

textbox#urlbar-wrapper > #urlbar {
  border-color: #1C2126 !important;
}

#urlbar { 
  -moz-appearance: -moz-win-borderless-glass;
}
#urlbar *::-moz-selection {
  color: white;
  background-color: #69aaea;
}

/* main bar - buttons */
#TabsToolbar toolbarbutton, panel toolbarbutton, #nav-bar hbox toolbarbutton {
  filter: saturate(0%);
}

#TabsToolbar toolbarbutton:hover, panel toolbarbutton:hover, #nav-bar hbox toolbarbutton:hover{
  filter: saturate(100%);
}

/* misc */
toolbar#aios-toolbar {
  background: #1C2126;
  border: #1C2126;
}

sidebarheader#sidebar-header {
  background: #1C2126;
  border: #1C2126;
}

toolbarbutton#sidebars-titlebutton{
  color :white;
}

toolbaritem#ctraddon_puib_separator {
  background: none;
}

splitter#sidebar-splitter {
  -moz-border-left-colors: #1C2126;
  -moz-border-right-colors: #1C2126;
}

@-moz-document url("chrome://tabgroups/content/tabview.xhtml") {
   #content { 
     background-image: url('chrome://fastdial-profile/content/themes/current/bg_alt_2.jpg');
     background-size: cover;
   }
}