/* os control */
toolbarbutton.titlebar-button { 
  background: #1C2126;
}

toolbarbutton.titlebar-button:hover { 
  background: #1A4666;
}

toolbarbutton#titlebar-close:hover {
  background: #FF0000;
}

/*Aios tabs*/
toolbarbutton.toolbarbutton-1.aios-tbutton:not(#downloads-button) {
  list-style-image: url("chrome://aios/skin/icons/toolbar_windows_inverted.png");
}

toolbar#aios-toolbar toolbarbutton{
  border: none;
}

/* tab bar */
deck iframe#tab-view {
  background: none;
}

tab.tabbrowser-tab {
  box-shadow: none !important;
}

/* main bar */
#nav-bar hbox#nav-bar-customization-target { 
  background-color: #1A4666;
}

/* main bar - address */
toolbox#navigator-toolbox::after, textbox#urlbar {
  background: #1C2126 !important;
}

textbox#urlbar-wrapper > #urlbar {
  border-color: #1C2126 !important;
}

/* main bar - buttons */
#TabsToolbar toolbarbutton, panel toolbarbutton, #nav-bar hbox toolbarbutton {
  filter: saturate(0%);
}

#TabsToolbar toolbarbutton:hover, panel toolbarbutton:hover, #nav-bar hbox toolbarbutton:hover{
  filter: saturate(100%);
}

/* misc */
toolbaritem#ctraddon_puib_separator {
  background: none;
}

splitter#sidebar-splitter {
  -moz-border-left-colors: #1C2126;
  -moz-border-right-colors: #1C2126;
}